*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

.card-info {
    background-color: hsl(225, 100%, 96%);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 23px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.change a {
    font-size: 14px;
    color: hsl(245, 75%, 52%);
    font-weight: 700;
    margin-left: 0;
}

.change a:hover {
    text-decoration: none;
    color: hsl(245, 75%, 65%);
    transition: .5s easeall all;
    -webkit-transition: .5s easeall all;
    -moz-transition: .5s easeall all;
    -ms-transition: .5s easeall all;
    -o-transition: .5s easeall all;
}

.plan {
width: 49%;
}

.plan h4 {
    color: hsl(223, 47%, 23%);
    margin-bottom: 3px;
}

.plan p {
    font-size: 14px;
    color: hsl(224, 23%, 55%);
}

@media screen and (max-width: 380px) {
    .card-info {
        gap: 15px;
        padding: 15px;
    }
    
    .card-info img {
        width: 35px;
    }
    
    .plan h4 {
        font-size: 14px;
    }

    .change a {
        font-size: 12px;
    }
}