.bg-color {
  background: url(img/pattern-background-desktop.svg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 375px) {
  .bg-color {
    background: url(./img/pattern-background-mobile.svg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
  }  
}